<!DOCTYPE html>
<html>
  <head>
    <style>
      body {
        margin: auto;
        max-width: 300px;
      }

      ul li {
        font-size: 16px;
      }
    </style>

    <title>Yo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
